@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  /* Modal */
  .modal-overlay {
    @apply fixed inset-0 z-40 bg-black opacity-50;
  }
  .modal-container {
    @apply fixed inset-0 z-50 flex items-center justify-center;
  }
  .modal-content {
    @apply rounded bg-transparent;
  }
}

@layer utilities {
}
